DATABASE_URL="postgresql://user:password@localhost:5432/appiconmock"
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""
GOOGLE_APPLICATION_CREDENTIALS="/path/to/vertex-ai-key.json"
NEXT_PUBLIC_ADSENSE_CLIENT_ID=""
